@model CreateLocationCityDto
@{
    ViewData["Title"] = "Şehir Lokasyonu Oluşturma Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="CityName" class="form-label fw-semibold text-primary-light text-sm mb-8">
            Şehir Adı <span class="text-danger-600">*</span>
        </label>
        <input asp-for="CityName" class="form-control" maxlength="15" required/>
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
    <br />
    <button class="btn rounded-pill btn-primary-600 radius-8 d-inline-flex align-items-center btn-sm">
        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">add</span>
        Ekle
    </button>
</form>
