@model CreateLocationDistrictDto
@{
    ViewData["Title"] = "İlçe Lokasyonu Oluşturma Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="CityId" class="form-label fw-semibold text-primary-light text-sm mb-8">
            Şehir Adı <span class="text-danger-600">*</span>
        </label>
        <select id="CityId" name="CityId" asp-items="ViewBag.cities" class="form-control" required>
            <option value="" disabled selected>Şehir Lokasyonu Seçin</option>
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DistrictName" class="form-label fw-semibold text-primary-light text-sm mb-8">
            İlçe Adı <span class="text-danger-600">*</span>
        </label>
        <input asp-for="DistrictName" class="form-control" maxlength="25" required/>
        <span asp-validation-for="DistrictName" class="text-danger"></span>
    </div>
    <br />
    <button class="btn rounded-pill btn-primary-600 radius-8 d-inline-flex align-items-center btn-sm">
        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">add</span>
        Ekle
    </button>
</form>
