@model LocationCityViewModel
@{
    ViewData["Title"] = "Şehir ve İlçe Lokasyonları Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}

<div class="card basic-data-table">
    @Html.AntiForgeryToken()
    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="card-title mb-0 mt-1">Şehir ve İlçe Lokasyonları Listesi</h5>
        <div class="d-flex flex-wrap align-items-center gap-2 ms-auto mt-2 mt-md-0">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-y: hidden;">
            <table class="table table-hover mb-0" id="dataTable" style="width: 100%; margin-top: 10px;">
                <thead>
                    <tr>
                        <th class="text-start">#</th>
                        <th>Şehir Adı</th>
                        <th>İlçe Adı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CityWithDistrictViewList)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td><b><u>@item.CityName</u></b></td>
                            <td>
                                @(item.Districts?.Any() == true
                                    ? string.Join(", ", item.Districts)
                                    : $"<b><u>{item.CityName}</u></b> için henüz ilçe ataması yapılmadı")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>