@model CreateServiceIconDto
@{
    ViewData["Title"] = "Hizmet İconu Ekleme Sayfası";
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}

<div class="p-16 bg-transparent radius-8 border-start-width-3-px mb-24 shadow-4">
    <h6 class="text-primary-light text-md mb-8">Nasıl Kullanılır?</h6>
    <ul class="mb-0 ps-16">
        <li><a href="https://fonts.google.com/icons" target="_blank">Google Material Icons</a> sitesine git.</li>
        <li>1. Arama kutusuna örnek bir kelime yaz (örnek: home, email, security).</li>
        <li>2. Beğendiğin ikonun adını "Icon Url" alanına yaz.</li>
        <li>3. Kaydet butonuna bas.</li>
    </ul>
    <small class="text-neutral-600 d-block mt-8">Not: Sadece ikon adı girildiğinde sistem otomatik gösterir. URL zorunlu değildir.</small>
</div>
<form method="post">
    @Html.AntiForgeryToken()
    <label asp-for="IconName" class="form-label fw-semibold text-primary-light text-sm mb-8">
        İkon Adı <span class="text-danger-600">*</span>
    </label>
    <input type="text" asp-for="IconName" class="form-control" maxlength="50" required/>
    <span asp-validation-for="IconName" class="text-danger"></span>
    <br />
    <label asp-for="IconUrl" class="form-label fw-semibold text-primary-light text-sm mb-8">
        İkon Url <span class="text-danger-600">*</span>
    </label>
    <input type="text" asp-for="IconUrl" class="form-control" maxlength="70" required/>
    <span asp-validation-for="IconUrl" class="text-danger"></span>
    <br />
    <button class="btn rounded-pill btn-primary-600 radius-8 d-inline-flex align-items-center btn-sm">
        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">add</span>
        Ekle
    </button>
</form>