@model CreateSubCategoryDto
@{
    ViewData["Title"] = "Alt Kategori Oluşturma Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="TopCategoryId" class="form-label fw-semibold text-primary-light text-sm mb-8">
            Üst Kategori Seçin <span class="text-danger-600">*</span>
        </label>
        <select id="TopCategoryId" name="TopCategoryId" asp-items="@ViewBag.TopCategories" class="form-control" required>
            <option value="" disabled selected>Üst Kategori Seçin</option>
        </select>
        <span asp-validation-for="TopCategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="form-label fw-semibold text-primary-light text-sm mb-8">
            Alt Kategori Adı <span class="text-danger-600">*</span>
        </label>
        <input asp-for="Name" class="form-control" minlength="2" maxlength="50" required/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn rounded-pill btn-primary-600 radius-8 d-inline-flex align-items-center btn-sm">
        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">add</span>
        Ekle
    </button>
</form>