
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<form asp-action="UpdateTwoFactor" method="post">
    <div class="form-check form-switch">
        <input type="checkbox"
               name="TwoFactorEnabled"
               class="form-check-input"
               id="twoFactorSwitch"
        @(Model.TwoFactorEnabled ? "checked" : "") />
        <label class="form-check-label" for="twoFactorSwitch">İki Aşamalı Giriş</label>
    </div>
    <button type="submit" class="btn btn-success mt-2">Güncelle</button>
</form>

