@model UpdateProductDto
@{
    ViewData["Title"] = "İndirim Oranı Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Ürün Fiyatı</label>
    <input type="text" asp-for="UnitPrice" value="@Model.UnitPrice" class="form-control" readonly />
    <span asp-validation-for="UnitPrice" class="text-danger"></span>
    <br />
    <label>İndirim Oranı</label>
    <input type="number" class="form-control" asp-for="DiscountRate" />
    <small class="form-text text-muted">İndirim oranını % cinsinden tam sayı olarak giriniz.</small>
    <br />
    <span asp-validation-for="DiscountRate" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-primary-600">Kaydet</button>
</form>

