@model List<ResultServiceDto>

<section class="py-5">
    <div class="container-lg">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
            @foreach (var service in Model)
            {
                <div class="col">
                    <div class="rounded-3 card mb-3 bg-dark border border-dark-subtle p-3" style="height: 215px;">
                        <div class="text-white mb-3">
                            <span class="material-symbols-outlined">@service.IconUrl</span>
                        </div>
                        <div class="card-body p-0">
                            <h5 class="text-white">@service.Title</h5>
                            <p class="card-text text-white">@service.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
